@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(xl)

// ≥992px
+media-breakpoint-down(lg)
    .main-menu
        display: none
        padding: 20px
    .mobile-menu-button
        display: block
    .item-title
        &-content
            padding: 40px 30px


// ≥768px
+media-breakpoint-down(md)
    .first-section
        padding-top: $gutter/2

    .container-fluid
        padding: 0 $gutter/2
    
    .top-ad
        margin-bottom: $gutter/2
    
    .no-gutters
        .pattern
            margin-bottom: $gutter/2

// ≥576px
+media-breakpoint-down(sm)

    .logo
        font-size: 19px
        padding-left: $gutter/2
    
    .search-wrap
        .search
            padding-right: $gutter/2


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
